# [THEORY] Dependency management and security risks
# [THEORY] Possible automations for dependency management
coloredlogs==15.0.1
# [MANAGEMENT] To add the dependencies to the project in one by one fashion
pytest==7.1.3
coverage==6.5.0
build==0.8.0
twine==4.0.1